{
  "dev": {
    "STRIPE_API_KEY": "STRIPE_TEST_KEY",
    "AMOUNT": "999"
  },
  "release": {
    "STRIPE_API_KEY": "STRIPE_PRODUCTION_KEY",
    "AMOUNT": "999",
    "CHARGE_DESCRIPTION": "AwesoemCompany.com Product"
  }
}
